@use "../colors/colors.scss" as colors;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-color: colors.$secondary-color;
  margin: 20px;
}

//------------- header -------------

.header {
  display: flex;
  justify-content: center;
  height: 70px;
  background-color: transparent;
  border-radius: 50px;
  max-width: 1024px;
}

.lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

//------------- main -------------

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}

//------------- about-me -------------
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  width: 100%;
}

.about-me > aside {
  height: 100%;
  display: flex;
  align-items: center;
}

.border-about-me {
  border: solid colors.$primary-color 3px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  padding: 50px;
  gap: 25px;
}

.profile-picture {
  width: 250px;
  height: 250px;
}

.profile-picture > img {
  width: 100%;
  border-radius: 30%;
  border: solid colors.$primary-color 3px;
}

.about-me-text {
  color: white;
  font-size: 1.5em;
}

.about-me-text > .text > a {
  color: colors.$primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.links-about-me {
  margin-top: 20px;
}
.links-about-me > a {
  background-color: colors.$secondary-color;
  color: colors.$primary-color;
  border: solid colors.$primary-color 2px;
  text-decoration: none;
  padding: 7px;
  margin-top: 20px;
  border-radius: 15px;

  &:hover {
    transition: 0.5s;
    color: colors.$secondary-color;
    background-color: colors.$primary-color;
  }
}

//------------- projects -------------

.container-projects {
  @extend .about-me;
  flex-flow: row wrap;
  align-content: center;
  gap: 30px;
}

.projects-card {
  min-height: 480px !important;
}

.links-project {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.projects > .links-project > a {
  color: colors.$primary-color;
  border: solid colors.$primary-color 2px;
  border-radius: 30px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;

  &:hover {
    background-color: colors.$primary-color;
    color: colors.$secondary-color;
    transition: 0.5s;
  }
}

.project-images {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-images > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

//------------- skills -------------
#container-skills {
  @extend .about-me;
  flex-direction: column;
  // min-height: 100vh;
  color: colors.$primary-color;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;

  img {
    width: 25px;
  }
}

//------------- footer -------------
// footer {
//   @extend .header;
//   position: relative;
//   border-radius: 10px 10px 0 0;
//   flex-direction: column;
//   align-items: center;
//   height: 100%;
//   background-color: colors.$primary-color;
// }

// footer > p {
//   padding: 5px;
// }

// footer > p > a {
//   color: black;
//   text-decoration: none;

//   &:hover {
//     text-decoration: underline;
//   }
// }

//------------- media -------------

@media (max-width: 1300px) {
  .about-me {
    width: 80%;
  }
}

@media (max-width: 1100px) {
  .header {
    width: 80%;
  }
}

@media (max-width: 950px) {
  .about-me-text {
    font-size: 1.2em;
  }
}

@media (max-width: 800px) {
  .navigation {
    font-size: 0.8em;
  }

  .about-me {
    font-size: 0.9em;
  }

  .profile-picture {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 700px) {
  .border-about-me {
    flex-direction: column;
    margin-top: 100px;
  }
}

@media (max-width: 500px) {
  .navigation {
    font-size: 0.6em;
    gap: 2px;
    padding: 1px;
  }

  .border-about-me {
    padding: 15px;
  }
}

@media (max-width: 300px) {
  .navigation {
    font-size: 0.5em;
  }
}
